body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
 background-image: url("../img/concrete-texture.png");
}
.carousel-inner h3 {
 
 padding: 0px;
 animation: anime-H3 1.3s ease-out;
}
.carousel-inner p {
 font-size: 18px;
 
 animation: anime-P 1.6s ease-out;
}

@keyframes anime-H3 {
 from {
  opacity: 0;
  transform: translateX(-2000px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
}
@keyframes anime-P {
 from {
  opacity: 0;
  transform: translateX(2000px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
}












