$small: 320px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}

.fixed_tags    
{
  
   @include respond-to(handhelds) { position: relative; }
   @include respond-to(medium-screens) { position: relative; }                
}

.view {
  
   @include respond-to(handhelds) { max-width: 320px; padding: 0.5em; }
   @include respond-to(medium-screens) { max-width: 320px; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 500px; } 
}

.view p
{
   font-size: 22px;
   @include respond-to(handhelds) { max-width: 320px; padding: 0.5em; font-size: 12px; }
   @include respond-to(medium-screens) { max-width: 320px; font-size: 14px; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 500px; } 
}
.view h2 
{
  
   @include respond-to(handhelds) { max-width: 280px; padding: 0.5em; }
   @include respond-to(medium-screens) { max-width: 320px; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 500px; } 
}
.mask
{
  
   @include respond-to(handhelds) { max-width: 320px; padding: 0.5em; }
   @include respond-to(medium-screens) { max-width: 320px; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 500px; } 
}

.img_home_left {
  float: left;
  max-width: 500px;
   @include respond-to(handhelds) { max-width: 320px; padding: 0.5em; float: left; }

   @include respond-to(medium-screens) { max-width: 320px;  float: left; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 500px; } 

   }
p_home_left {
  
  max-width: 500px;
   @include respond-to(handhelds) { max-width: 320px; }
   @include respond-to(medium-screens) { min-width: 180px; max-width: 90%; }
   @include respond-to(wide-screens) { min-width: 180px; max-width: 100%; } 
}

.h2_home {
   padding: 0.5em;                    
   @include respond-to(handhelds) { max-width: 280px; font-size: 18px; padding: 0.5em; }
   @include respond-to(medium-screens) { font-size: 18px; }
}
.p_home {
                       
   @include respond-to(handhelds) { font-size: 14px; }
   @include respond-to(medium-screens) { font-size: 14px; }
}


